# Project 4, Git Practice, APS1070 Summer 2022
#### **Linear Regression -  15 points**
**Deadline: August 13th, 23:00**

**Academic Integrity**

This project is individual - it is to be completed on your own. If you have questions, please post your query in the APS1070 Piazza Q&A forums (the answer might be useful to others!).

Do not share your code with others, or post your work online. Do not submit code that you have not written yourself. Students suspected of plagiarism on a project, midterm or exam will be referred to the department for formal discipline for breaches of the Student Code of Conduct.

Please fill out the following:


*   Your **name**: Yusuf Olonade
*   Your **student number**: 1006814743

## Gradient Descent with Additional Features and Regularization [2 marks + 1 mark Git submission]

We'll apply linear regresssion to a toy dataset (`LR_data.csv`), with 10 features `x1`-`x10` and a "measurement" `y`. We'll take a few shortcuts by using built-in sklearn functions.

1. Data Preparation **[0.5]**
  * Print the dataset, and create Numpy arrays with inputs (X) and outputs (y). 
  * Split the dataset into training and validation sets (80% training, 20% validation). When splitting, set `random_state=1`.

2. Linear Regression **[0.5]**
  * Standardize the data using StandardScaler from sklearn.
  * Use the `sklearn.linear_model.LinearRegression` function [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) to perform linear regression.
  * Print the RMSE for training and validation data.

3. Linear Regression with Additional Features **[0.5]**
  * Let's add more features to our dataset (degree 8) using `sklearn.preprocessing.PolynomialFeatures` [here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.PolynomialFeatures.html). You'll want to create the additional features first, then perform standardization (start from non-standardized data).
  * Again, use `sklearn.linear_model.LinearRegression` to perform linear regression.
  * Print the RMSE for training and validation data.

4. Linear Regression with Additional Features and Regularization **[0.5]**
  * Let's switch models, and instead use the `sklearn.linear_model.Ridge` function [here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html#sklearn.linear_model.Ridge) to perform linear regression with regularization. Apply the model to the processed data (additional, standardized) you used in 3 above. Use a `FOR` loop to run `sklearn.linear_model.Ridge` with different `alpha` values. Specifically, sweep `alpha` from 1E-2 to 1E10 (each step is an order of magnitude jump).

In [11]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/aps1070-2019/datasets/master/LR_data.csv" , skipinitialspace=True)

In [12]:
df

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,y
0,1.454481,4.940543,7.116015,3.805131,4.105432,1.832290,5.211909,5.088293,3.841250,6.121133,6.575066e+06
1,4.907182,1.653654,7.339445,9.065282,7.169233,2.354136,2.893005,8.720131,8.646473,3.806860,8.419881e+06
2,1.842804,1.183878,4.203206,6.815847,6.655899,8.295816,3.556779,5.794679,3.260723,5.463808,9.745537e+04
3,2.393457,0.094127,3.208929,0.497443,4.318127,4.999247,9.470238,3.061990,7.312995,5.475240,1.129200e+04
4,5.093724,3.905293,4.858562,4.465484,0.947091,9.410307,8.137329,9.043838,9.128607,0.790795,3.105448e+05
...,...,...,...,...,...,...,...,...,...,...,...
195,2.936450,2.094812,9.493814,3.411240,4.350940,0.386062,1.303290,2.699563,7.622569,3.037162,6.599726e+07
196,4.915597,1.953974,7.312552,9.331203,1.329366,8.286760,5.233018,7.476923,7.043560,5.745565,8.176250e+06
197,6.772096,6.406489,4.638352,7.042340,0.912338,7.568296,1.194928,2.592840,9.386478,4.147710,2.144147e+05
198,3.940339,4.330498,6.693371,9.169265,0.858846,0.601942,2.635455,2.037859,7.883720,8.525164,4.028735e+06
199,8.636129,1.272939,4.339175,4.417427,5.697190,8.944253,7.952686,4.917967,9.543772,5.673870,1.257168e+05

In [13]:
# 1 Data Preparation
from sklearn.model_selection import train_test_split

X = df.values[:, :-1]
y = df.values[:, -1]
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state = 1)

In [14]:
print(f"X_train shape: {X_train.shape}")
print(f"y_train shape: {y_train.shape}")
print(f"X_valid shape:  {X_valid.shape}")
print(f"y_valid shape:  {y_valid.shape}")

X_train shape: (160, 10)
y_train shape: (160,)
X_valid shape:  (40, 10)
y_valid shape:  (40,)

In [15]:
#2 
# Standardizing the dataset
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train) 
X_train_scaled = scaler.transform(X_train)
X_valid_scaled = scaler.transform(X_valid)

In [16]:
# Defining the error function
import numpy as np
from sklearn.metrics import mean_squared_error

def rmse(yPred, y):
    return np.sqrt(mean_squared_error(yPred, y))

In [17]:
# Linaer regression
import numpy as np
from sklearn.linear_model import LinearRegression

def linear_regressor(X_train_scaled, y_train, X_valid_scaled, y_valid):
  reg = LinearRegression().fit(X_train_scaled, y_train)
  yPred_train = reg.predict(X_train_scaled)
  yPred_valid = reg.predict(X_valid_scaled)
  RMSE_train = rmse(yPred_train, y_train)
  RMSE_valid = rmse(yPred_valid, y_valid)
  print ("RMSE on training set: " , RMSE_train)
  print ("RMSE on validation set: " , RMSE_valid)

In [18]:
Linear_regression = linear_regressor(X_train_scaled, y_train, X_valid_scaled, y_valid)

RMSE on training set:  16296980.655667374
RMSE on validation set:  14061578.864980102

In [19]:
#3 Linear Regression with Additional Features
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(8).fit(X_train)                 # Feature mapping on original data
X_train_pf = poly.transform(X_train)
X_val_pf = poly.transform(X_valid)
scaler.fit(X_train_pf)                                    # Standardizing feature maped data
X_train_pf_scaled = scaler.transform(X_train_pf)
X_valid_pf_scaled = scaler.transform(X_val_pf)
Linear_regression = linear_regressor(X_train_pf_scaled, y_train, X_valid_pf_scaled, y_valid)     # Linear regression on feature mapped data

RMSE on training set:  1.1447930035368027e-07
RMSE on validation set:  10920843.908991363

In [20]:
#4 Linear Regression with Additional Features and Regularization
from sklearn.linear_model import Ridge
import numpy as np

x = [0.01, 0.1]
y = [10**i for i in range(11)]
alpha_array = x + y
for a in alpha_array:
  clf = Ridge(alpha=a).fit(X_train_pf_scaled, y_train)          
  yPred_train = clf.predict(X_train_pf_scaled)
  yPred_valid = clf.predict(X_valid_pf_scaled)
  RMSE_train = rmse(yPred_train, y_train)
  RMSE_valid = rmse(yPred_valid, y_valid)
  print ("For alpha = ", a)
  print ("RMSE on training set: " , RMSE_train)
  print ("RMSE on validation set: " , RMSE_valid)
  print('\n')

For alpha =  0.01
RMSE on training set:  321.01240899995105
RMSE on validation set:  10919504.125894452


For alpha =  0.1
RMSE on training set:  3199.3496468468265
RMSE on validation set:  10916171.329032786


For alpha =  1
RMSE on training set:  30988.518341526313
RMSE on validation set:  10884651.01882751


For alpha =  10
RMSE on training set:  248080.36964934706
RMSE on validation set:  10659707.103879161


For alpha =  100
RMSE on training set:  1196923.6228686147
RMSE on validation set:  9484394.220119428


For alpha =  1000
RMSE on training set:  3609078.259692084
RMSE on validation set:  5633182.87513833


For alpha =  10000
RMSE on training set:  7712389.432217538
RMSE on validation set:  4521905.583502401


For alpha =  100000
RMSE on training set:  14600498.520348776
RMSE on validation set:  10502863.775565729


For alpha =  1000000
RMSE on training set:  20036025.00599003
RMSE on validation set:  16057627.104454402


For alpha =  10000000
RMSE on training set:  22910819.32474683
RMSE on validation set:  18700005.544786207


For alpha =  100000000
RMSE on training set:  23435716.156519353
RMSE on validation set:  19178033.464494962


For alpha =  1000000000
RMSE on training set:  23494007.189870406
RMSE on validation set:  19231116.414978746


For alpha =  10000000000
RMSE on training set:  23499904.341360077
RMSE on validation set:  19236486.536391094